SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{address}=="{{ ansible_facts.default_ipv4.macaddress }}", ATTR{dev_id}=="0x0", ATTR{type}=="1", KERNEL=="{{ ansible_facts.default_ipv4.interface }}", NAME="{{ VAR_NIC }}"
